
body {
    font-family: "TypoPRO Open Sans";
    font-size: 11pt;
    background-color: #f8f8f8;
    color: #000000;
}

.canvas {
    width: 100%;
    position: relative;
    margin: auto;
}

.canvas .header {
    padding-top: 20px;
    padding-bottom: 40px;
}

.canvas .header .title {
    padding-top: 16px;
    font-weight: 200;
    font-size: 32pt;
    line-height: 30pt;
    color: #888888;
    position: relative;
}

.canvas .tag {
    font-family: "TypoPRO Journal";
    font-size: 30pt;
    letter-spacing: 1px;
    position: absolute;
    z-index: 100;
    top: 140px;
    left: 50px;
    width: 400px;
    transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    color: #2B96F1;
}

.canvas .diagram {
    padding-top: 20px;
    background-color: #ffffff;
    padding-bottom: 20px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.canvas .desc {
    padding-top: 20px;
    padding-bottom: 20px;
}

.canvas .g-row.desc {
    border-top: 1px solid #e0e0e0;
}

.canvas .desc b {
    color: #666666;
    font-family: "TypoPRO Open Sans";
    font-weight: 600;
}

.canvas .desc .head {
    font-weight: 200;
    font-size: 16pt;
    color: #888888;
}

.canvas .desc .text {
    font-size: 12pt;
    font-family: "TypoPRO Roboto Slab";
    font-weight: 300;
}

.canvas .desc .text > ul > li {
    margin-bottom: 10px;
}

.canvas .footer {
    padding-top: 20px;
    color: #999999;
    font-size: 9pt;
    text-align: center;
}
.canvas .footer a {
    text-decoration: none;
    color: #999999;
}


