
body {
    font-family: "TypoPRO Roboto";
    font-size: 13pt;
    background-color: #f0f0f0;
    color: #333333;
}

.canvas {
    width: 100%;
    position: relative;
    margin: auto;
}

.canvas .header {
    padding-top: 20px;
    padding-bottom: 40px;
}

.canvas .header .title {
    padding-top: 16px;
    font-weight: 200;
    font-size: 32pt;
    line-height: 30pt;
    color: #666666;
    position: relative;
}

.canvas .tag {
    font-family: "TypoPRO Journal";
    font-size: 30pt;
    letter-spacing: 1px;
    position: absolute;
    z-index: 100;
    top: 140px;
    left: 50px;
    width: 400px;
    transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    color: #2B96F1;
}

.canvas .subtitle {
    margin-top: 10px;
    font-family: "TypoPRO Journal";
    font-size: 24pt;
    line-height: 24pt;
    transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    color: #2B96F1;
}

.canvas .diagram {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 8px 2px #888888;
    box-shadow: 0 2px 8px 2px #888888;
}

.canvas .desc {
    padding-top: 20px;
    padding-bottom: 20px;
}

.canvas .g-row.desc {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d0d0d0;
}
.canvas .g-row.desc.first {
    padding-top: 50px;
}

.canvas .desc b {
    color: #666666;
    font-family: "TypoPRO Roboto";
}

.canvas .desc .head {
    font-weight: 200;
    font-size: 18pt;
    color: #666666;
}

.canvas .desc .text {
    font-size: 13pt;
    font-family: "TypoPRO Roboto";
    font-weight: 300;
    color: #333333;
}

.canvas .desc .text > ul > li {
    margin-bottom: 8px;
}
.canvas .desc .text > ol > li {
    margin-bottom: 8px;
}

.canvas .copyright {
    border-top: 1px solid #ffffff;
    padding-top: 20px;
    padding-bottom: 100px;
    color: #999999;
    font-size: 10pt;
    font-weight: 300;
}
.canvas .copyright a {
    text-decoration: none;
    color: #999999;
}


